<h1 class="text-center p-5">Stupid Coaching</h1>

<div class="text-center w-50 m-auto">
  <div class="bg-primary mx-4 rounded-3">
    <p class="bg-warning rounded-3"><%= @question %></p>
    <p>~You~</p>
  </div>
  <br>
  <div class="bg-primary mx-4 rounded-3">
    <p class="bg-warning rounded-3"><%= @answer %></p>
    <p>~Your Coach~</p>
  </div>
  <a href="/ask">Ask a new question</a>
</div>
