<h1 class="text-center p-5">Stupid Coaching</h1>

<form action="/answer" method="get" class="text-center">
<label for="question" class="p-2">Please ask your questions:</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Submit" class="btn btn-primary m-3">
</form>
